.tprovs {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    ;
}

.containerprovs h1 {
    text-align: center;
    margin: 3px;
    padding: 3px;
    color: #e47c09;
}

.containerprovs tr td {
    color: #e47c09;
}

.h1-h {
    color: #e47c09;
}

/* Codigo carrusel */
.c-b {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #e47c09;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url("https://picsum.photos/300/400?random=1");
    border-radius: 5%;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url("https://picsum.photos/300/400?random=2");
    border-radius: 5%;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url("https://picsum.photos/300/400?random=3");
    border-radius: 5%;
}

div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url("https://picsum.photos/300/400?random=4");
    border-radius: 5%;
}

div.item:nth-of-type(5) {
    --offset: 5;
    background-image: url("https://picsum.photos/300/400?random=5");
    border-radius: 5%;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
    --position: 5;
}

/* Codigo carrusel */

/* Codigo navbar*/
.container-fluid {
    background: rgb(228, 124, 9);
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(228, 124, 9, 1) 51%, rgba(165, 9, 228, 1) 100%);

}


.nav-item a {
    color: #fff;
    font-size: auto;
    font-weight: 100;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbar-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.navbar-nav.right {
    margin-left: auto;
}

#sing-in {
    background-color: #e47c09;
    border-radius: 20px;

    border-color: white;
}

#sing-out {
    background-color: red;
    border-radius: 20px;
    border-color: white;
}

/* Codigo navbar*/

/* Codigo login*/
.regbox1 {
    width: 400px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;

}

.regbox1 h1 {
    text-align: center;
    padding: 35px 0 35px 0;
    border-bottom: 1px solid cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.regbox1 form {
    padding: 0 35px;
    box-sizing: border-box;
    width: 100%;
}

form .userexam {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.userexam input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.userexam label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.userexam input:focus~label,
.userexam input:valid~label {
    top: -5px;
    left: 0;
    color: cyan;
    font-size: 12px;
}

.userexam input:focus~span::before,
.userexam input:focus~span::before {
    width: 100%;
}

.rememberexam {
    margin: -5 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.rememberexam:hover {
    text-decoration: underline;
    color: cyan;
}

.submitexam {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #e47c09;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    outline: none;
}

.submitexam:hover {
    border-color: rgb(30, 128, 255);
    transition: .5s;
}

.singinexam {
    margin: 30px 0;
    text-align: center;
    font-size: 13px;
    color: black;
}

.singinexam a {
    color: blue;
    text-decoration: none;
}

.singinexam:hover {
    text-decoration: underline;
    color: cyan;
}

.singupexam a {
    color: blue;
    text-decoration: none;
}

.singupexam:hover {
    text-decoration: underline;
    color: cyan;
}

@media screen and (max-width: 480px) {
    .regbox1 {
        width: auto;
        height: auto;
    }
}

/* Codigo login*/

/* Codigo registro*/
.signup-form {
    max-width: 400px;
    margin: 0 auto;
    background: whitesmoke;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.signup-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

.signup-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.signup-form .errorlist {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Codigo registro*/