{% extends "base.html" %}
{%block title %}Editar usuario{% endblock %}



{% block contenido %}

<h1 class="text-center">Estás editando a {{ usuario }}</h1>
<form method="post" class="edit-user-form">
  {% csrf_token %}
  <div class="edit-form-field">
    <label for="{{ form.first_name.id_for_label }}">Nombre:</label>
    {{ form.first_name }}
  </div>
  <div class="edit-form-field">
    <label for="{{ form.last_name.id_for_label }}">Apellido:</label>
    {{ form.last_name }}
  </div>
  <div class="edit-form-field">
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
  </div>
  <input type="submit" value="Guardar" class="edit-default" name="_save">
</form>
{% endblock %}